@font-face {
  font-family: 'ITCAvantGardeStd-Bold';
  src: url('../fonts/ITCAvantGardeStd-Bold.eot');
  src: url('../fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
  url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  color: #fff;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  line-height: 1;
}

a {
  color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}

/* container styles */
.container {
  background-color: #152e6c;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.container.h100 {
  height: 100%;
  max-height: 100%;
}

/* header styles */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 1rem;
  height: 6rem;
}

.header__team,
.header__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__team--name,
.header__user--name {
  font-size: 2rem;
}

.header__team--count,
.header__user--help {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.header__team--count {
  font-size: 2rem;
  background-color: #f41c45;
  border-radius: 50%;
}

.header__user--help img {
  height: 100%;
  width: 100%;
}

.header__team--button {
  background-color: #2662fc;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

/* cash styles */
.cash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 6rem;
}

.cash__deposit {
  background-color: #fff;
  border-radius: 1.5rem;
  color: #222;
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
  padding: .5rem 4rem;
}

.cash__add {
  margin-left: 2rem;
  height: 5.5rem;
  width: 5.5rem;
}

.cash__add img {
  height: 100%;
  width: 100%;
}

.cash__wrapper {
  background-color: #fff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
}

.cash__count {
  background-color: #f41c45;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem;
  height: 2.3rem;
  width: 2.3rem;
}

.cash__team-name {
  color: #222;
  font-size: 2rem;
  font-weight: bold;
}

/* button style */
.btn {
  border-radius: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  margin: 0 auto 1rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.btn--short {
  padding: 1rem 2rem;
}

.btn--long {
  width: 100%;
}

.btn--aqua {
  background-color: #0cb4fc;  
}

.btn--aqua:hover {
  background-color: #1377d2;
}

.btn--aqua.disabled:hover {
  background-color: #0cb4fc;
}

.btn--blue {
  background-color: #2662fc;
}

/* disabled effect */
.disabled {
  cursor: not-allowed !important;
  opacity: .7;
}

/* begin and begin-load styles */
.begin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.begin__title {
  background-color: #14214d;
  border-radius: 1rem;
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 1rem;
}

.begin-load__logo,
.begin__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.begin-load__logo {
  background: url(../img/Alagaster-Logo@1x.png) center no-repeat;
  flex-grow: 1;
  height: 100%;
}

.begin__intro {
  background: url(../img/Horse_Intro@1x.png) bottom right no-repeat;
  background-size: contain;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%;
}

.begin__note {
  display: flex;
  align-items: flex-end;
  font-family: 'ITCAvantGardeStd-Bold';
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .4rem;
  margin-left: 1rem;
  margin-bottom: 5rem;
  text-align: left;
}

.begin-load__note {
  font-family: 'ITCAvantGardeStd-Bold';
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-top: 5rem;
}

/* getcash styles */
.getcash {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  min-height: calc(100vh - 6rem - 6rem);
}

.getcash__note {
  background-color: #14214d;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.getcash__note img {
  margin-right: 1rem;
  height: 1.1rem;
}

.getcash__tabs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;
}

.getcash__tabs-titles {
  display: flex;
  flex-direction: row;
}

.getcash__tab-title {
  background-color: #2c427a;
  border-radius: 2rem 2rem 0 0;
  color: #d5d9e4;
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin: 0 1rem;
  padding: 1.5rem 0;
  text-transform: uppercase;
  width: calc(50% - 1rem);
}

.getcash__tab-title.show {
  background-color: #eaedee;
  color: #222;
}

.getcash__tab-title:first-child {
  margin-left: 0;
}
.getcash__tab-title:last-child {
  margin-right: 0;
}

.getcash__tab {
  background-color: #eaedee;
  display: none;
  flex-grow: 1;
  padding: 1rem 1rem 2rem;
}

.getcash__tab.show {
  display: block;
}

/* bet tab styles */
#bet .getcash__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

#bet .getcash__element {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  width: calc(50% - 2rem);
}

#bet .getcash__element picture {
  height: 3rem;
}

#bet .getcash__element img {
  height: 3rem;
}

#bet .getcash__horse-name {
  flex-grow: 1;
}

#bet .getcash__horse-name h4 {
  color: #222;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#bet .getcash__bottom {
  background-color: #152e6c;
  border-radius: 1rem 1rem 0 0;
  margin: 0 1rem;
  padding: 1rem;
}
#bet .getcash__bottom-col1,
#bet .getcash__bottom-col2,
#bet .getcash__bottom-col3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#bet .getcash__bottom-col1 {
  justify-content: flex-start;
  text-align: left;
  width: 62%;
}

#bet .getcash__bottom-col2 {
  width: 8%;
}

#bet .getcash__bottom-col3 {
  justify-content: flex-end;
  width: 30%;
}

#bet .getcash__bottom--titles {
  display: flex;
  flex-direction: row;
}

#bet .getcash__bottom--titles span {
  font-size: 1.8rem;
  text-transform: uppercase;
}

#bet .getcash__hl {
  background-color: #415987;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  height: .2rem;
}

#bet .getcash__bottom--element {
  display: flex;
  flex-direction: row;
}

#bet .getcash__bottom--element:not(:last-child) {
  margin-bottom: 1.5rem;
}

#bet .getcash__bottom--element span {
  font-size: 1.5rem;
  text-transform: uppercase;
}

#bet .getcash__bottom--element picture {
  margin-right: 1rem;
  height: 2.5rem;
}

#bet .getcash__bottom--element img {
  height: 2.5rem;
}

/* train tab styles */
#train .getcash__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#train .getcash__element {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  width: calc(50% - 2rem);
}

#train .getcash__element--block {
  border: 1px solid #b5b5b5;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

#train .getcash__element--block picture {
  height: 4rem;
  width: 4rem;
}

#train .getcash__element--block-logo {
  height: 4rem;
  width: 4rem;
}

#train .getcash__horse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 1rem;
}

#train .getcash__horse p {
  color: #222;
  font-size: 2.5rem;
  font-weight: bold;
}

#train .getcash__horse a {
  border-radius: .5rem;
  display: block;
  height: 2.5rem;
}

#train .getcash__horse a:hover {
  box-shadow: 0 0 1px .1rem rgba(0, 0, 0, .5);
}

#train .getcash__horse a.disabled:hover {
  box-shadow: none;
}

#train .getcash__horse img {
  height: 100%;
}

#train .getcash__element--subtitle {
  color: #222;
  font-size: 1.5rem;
  margin: .5rem 1rem 1rem;
  text-transform: uppercase;
}

#train .getcash__bottom {
  padding: 0 1rem;
}

/* donate styles */
.donate {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  min-height: calc(100vh - 6rem - 6rem);
}

.donate__note {
  background-color: #14214d;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
}

.donate__note img {
  margin-right: 1rem;
  height: 1.1rem;
}

.donate__content {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

.donate__info {
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0;
  text-align: left;
}

.donate__title {
  color: #152e6c;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.donate__paragraph {
  color: #222;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.donate__paragraph a {
  color: #2662fc;
  text-decoration: underline;
}

.donate__element {
  border-bottom: .2rem solid #dadada;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.donate__element:last-of-type {
  margin-bottom: 2rem;
}

.donate__element strong {
  color: #222;
  font-size: 3rem;
  font-weight: bold;
}

.donate__element span {
  color: #c4c4c4;
}

.donate__element a {
 margin: 0;
 padding: 1rem 0;
 text-align: center;
 width: 13rem;
}

.donate__your {
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
}

.donate__your p {
  color: #222;
  font-size: 1.3rem;
  line-height: 1.3;
}

.donate__your strong {
  color: #222;
  font-size: 2.5rem;
  font-weight: bold;
}

/* conditions styles*/
.conditions {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  min-height: calc(100vh - 6rem);
}

.conditions__content {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}

.conditions__info {
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0;
  text-align: left;
}

.conditions__title {
  color: #152e6c;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.conditions__paragraph {
  color: #222;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.conditions__form {
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 2rem;
}

.conditions__form--group {
  display: flex;
  flex-direction: column;
}
.conditions__form--group:not(:last-child) {
  margin-bottom: 1rem;
}

.conditions__form--group input {
  border: 0;
  border-bottom: 1px solid #858c93;
  color: #222;
  font-size: 1.5rem;
  padding: .5rem 0;
  width: 100%;
}

.invalid {
  border-top: 2px solid #f41c45;
  color: #f41c45;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -1px;
}

.invalid.show {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.invalid img {
  height: 1.5rem;
}

/* probability styles */
.probability {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.probability__intro {
  padding: 0 0 2rem;
}

.probability__content {
  padding: 0 1rem 2rem;
  width: 100%;
}

.probability__title {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}

.probability__subtitle {
  background-color: #14214d;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  width: 100%;
}

.probability__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.probability__row:not(:last-child) {
  margin-bottom: 1rem;
}

.probability__row span {
  font-size: 2rem;
  text-transform: uppercase;
}

.probability__col1 {
  width: 20%;
}

.probability__col1 img {
  height: 3rem;
}

.probability__col2 {
  padding-left: 1.5rem;
  text-align: left;
  width: 65%;
}

.probability__col3 {
  text-align: right;
  width: 15%;
}

.probability__col3 span {
  font-weight: bold;
}

/* race styles */
.race {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: calc(100vh - 6rem);
}

.race__title {
  font-size: 5rem;
  font-weight: bold;
  padding: 0 2rem;
}

.race__intro {
  padding: 2rem 0;
}

.race__content {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  width: 100%;
}

.race__block {
  background-color: #152e6c;
  border-radius: 1rem 1rem 0 0;
  flex-grow: 1;
  padding: 1rem;
}

.race__row-titles,
.race__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.race__row:not(:last-child) {
  margin-bottom: 1.5rem;
}

.race__row-titles span {
  font-size: 1.8rem;
}

.race__row span {
  font-size: 1.5rem;
}

.race__col1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 62%;
}

.race__col1 img {
  margin-right: 1rem;
  height: 2.5rem;
}

.race__col2 {
  text-align: center;
  width: 8%;
}

.race__col3 {
  text-align: right;
  width: 30%;
}

.race__hl {
  background-color: #415987;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  height: .2rem;
}

/* result styles */
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.results__intro {
  padding: 3rem 0;
}

.results__content {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 2rem;
  width: 100%;
}

.results__block,
.results__block--smiles {
  background-color: #fff;
  border-radius: 1rem;
  color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1rem;
  padding: 1rem;
}

.results__block img {
  margin-right: 1rem;
  height: 4rem;
  width: 4rem;
}

.results__block h2 {
  font-size: 3rem;
  font-weight: bold;
}

.results__block .btn--short {
  font-size: 1.4rem;
  margin: 0;
  margin-left: auto;
  padding: .5rem;
}

.results__block--smiles {
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 2rem;
}

.results__block--smiles h3 {
  color: #222;
  font-size: 2rem;
  height: 2rem;
}

.results__block--smile {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  margin-top: 2rem;
  height: 5rem;
  width: 100%;
}

.results__block--smile a {
  display: block;
  height: 5rem;
}

.results__block--smile img {
  height: 100%;
}

/* team styles */
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: calc(100vh - 6rem - 6rem);
}

.team__content {
  background-color: #eaedee;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  width: 100%;
}

.team__info,
.team__position {
  background-color: #fff;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: left;
}

.team__title {
  color: #152e6c;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.team__teammate {
  color: #222;
  font-size: 1.3rem;
  line-height: 1.3;
  margin-bottom: .5rem;
}

.team__position .team__title {
  margin-bottom: 3rem;
}

.team__element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.team__element:not(:last-child) {
  margin-bottom: 2rem;
}

.team__element img {
  height: 4rem;
  width: 4rem;
}

.team__element h5 {
  color: #222;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem;
}










@media (orientation: landscape) {
  /* container styles */
  .container.h100 {
    height: auto;
    max-height: none;
  }

  /* begin styles */
  .begin-load__note {
    margin: 15rem 0 1rem;
  }
}


/* Landscape phones and smaller */
@media (min-width: 375px) {
  html {
    font-size: 11px;
  }

  /* getcash styles*/
  #train .getcash__element--subtitle {
    margin: 1rem 0 1rem 4rem;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

/* Landscape phones and portrait tablets */
@media (min-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

  /* container styles */
  .container.h100 {
    height: auto;
    max-height: none;
  }

  /* button style */
  .btn--long {
    padding: 1rem 2rem;
    width: auto;
    min-width: 50%;
  }

  /* begin styles */
  .begin-load__logo {
    background: url(../img/Alagaster-Logo@2x.png) center no-repeat;
  }

  .begin__intro {
    background: url(../img/Horse_Intro@2x.png) bottom right no-repeat;
    background-size: contain;
  }
  
  /* getcash styles*/
  #train .getcash__horse {    
    justify-content: center;
  }

  #train .getcash__horse a {
    margin: 0 2rem;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 801px) {
  html {
    font-size: 15px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  /* container styles */
  .container {
    max-width: 64rem;
  }

  /* begin styles */
  .begin-load__logo {
    background: url(../img/Alagaster-Logo@4x.png) center no-repeat;
  }

  .begin__intro {
    background: url(../img/Horse_Intro@4x.png) bottom right no-repeat;
    background-size: contain;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}