@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');
/* Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
html {
	font-size: 10px;
}
body {
	color: #152B40;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	line-height: 1;
}
a,
button,
input[type="submit"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	display: block;
	font-family: 'Rajdhani', sans-serif;
	text-decoration: none;
}

/* global styles */
h1, h2 , h3, h4, h5, h6 {
	text-shadow: 0px 3px 4px rgba(107, 107, 107, 0.25);
}
h1 {
	font-size: 9.6rem;
	line-height: 12.2rem;
}
h2 {
	font-size: 7.2rem;
	line-height: 9.2rem;
}
h3 {
	font-size: 6.4rem;
	line-height: 8.2rem;
}
h4 {
	font-size: 4.8rem;
	line-height: 6.2rem;
}
h5 {
	font-size: 3.6rem;
	line-height: 4.6rem;
}
h5 strong {
	font-size: 9.6rem;
	line-height: 7.6rem;
}
h5 > .small {
	font-size: 2rem;
	line-height: 2.6rem;
}
h6 {
	font-size: 3rem;
	line-height: 6.6rem;
}
.text-red {
	color: #F3001A;
}
.text-green {
	color: #207B00;
}
.text-uppercase {
	text-transform: uppercase;
}
.hide {
	overflow: hidden;
	opacity: 0;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 145, 154, .2);
}
::-webkit-scrollbar-thumb {
	border-radius: 40px;
	background: #00919A;
}
::-webkit-scrollbar-thumb:hover {
	background: #00919A;
}

/* wrapper styles */
.wrapper {
	background: url(../img/desktop-bg.jpg) center / 100% 100% no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	height: 100vh;
}
.wrapper.video .header {
	display: none;
}
.wrapper.video .content {
	padding: 0;
}
.wrapper.video .footer {
	position: fixed;
	bottom: 0;
	left: 0;
}

/* header styles */
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	padding: 0 8.5rem;
	height: 25rem;
}
.header-left {
	background-color: rgba(22, 255, 255, 0.19);
	border: 5px solid #00919A;
	border-radius: 4rem;
	box-shadow: 0px 23px 50px #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 19rem;
	width: 39rem;
}
.header-mid {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}
.header-mid__block {
	background-color: #52d923;
	border-radius: 5px;
	box-shadow: 0px 6px 13px rgba(82, 217, 35, 0.47);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 3.5rem;
	height: 13.5rem;
	width: 69rem;
}
.header-mid__block img {
	width: 100%;
}
.header-mid__dash,
.header-mid__dash img {
	height: 100%;
}
.header-right {
	background-color: rgba(22, 255, 255, 0.19);
	border: 5px solid #00919A;
	border-radius: 4rem;
	box-shadow: 0px 23px 50px #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 19rem;
	width: 39rem;
}

/* content styles */
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding-top: 9rem;
}
.content.get {
	padding-top: 4rem;
}
.content h1 {
	padding-top: 5rem;
	text-align: center;
	max-width: 114rem;
}
.content h2 {
	text-align: center;
}
.content h2:first-of-type {
	font-weight: 400;
	margin-bottom: 3.3rem;
}
.content h2:nth-of-type(2) {
	margin-bottom: 6.2rem;
}
.content__table {
	width: 95rem;
}
.content__table h4 {
	margin-bottom: 5.8rem;
}
.content__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.content__list h5 {
	margin-bottom: 2rem;
	width: 30%;
}
.content__block {
	background: #FFFFFF;
	border-radius: 4rem;
	box-shadow: 0px 23px 50px #FFFFFF;
	padding: 4.5rem 4rem 1rem;
	width: 114rem;
}
.content__block h3 {
	margin-bottom: 2rem;
}
.content__element {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4rem;
	padding-left: 4rem;
	height: 7.4rem;
}
.content__element img {
	margin-right: 5.4rem;
	height: 100%;
}
.content__reindeers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 118rem;
}
.content__reindeer {
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 23px 50px #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	padding: 2.7rem;
	height: 22rem;
	width: calc(25% - 2.7rem);
}
.content__reindeer > img {
	margin-bottom: 2rem;
	height: 10.5rem;
}
.content__reindeer-description {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.content__reindeer-description img {
	width: 3.7rem;
}
.content__video {
	width: 100%;
}
.content__video video {
	width: 100%;
}
.content__winner {
	text-align: center;
}
.content__winner > h3 {
	margin-bottom: 5rem;
}
.content__winner-who {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 6.8rem;
}
.content__winner-who img {
	mix-blend-mode: darken;
}
.content__winner > h5 {
	color: #000;
	margin-bottom: 3rem;
}
.content__winner-ate {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
.content__winner-ate img {
	margin-right: 1rem;
	height: 5rem;
}
.content__get {
	height: 100%;
	width: 100rem;
}
.content__get h2 {
	height: 5.6rem;
	line-height: 7rem;
}
.content__get-card {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 7px;
	box-shadow: 0px 12px 50px rgba(255, 255, 255, 0.24);
	margin-bottom: 3rem;
	padding: 2rem 3rem;
	height: 50rem;
	width: 100%;
}
.content__get-block {
	display: none;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: 100%;
}
.content__get-block.active {
	display: flex;
}
.content__get-block h6 {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}
.content__get-block h6 span {
	display: block;
	margin-right: 6.7rem;
	text-align: right;
}
.content__get-card.card-50 .content__get-block h6 span {
	width: 50%;
}
.content__get-card.card-100 .content__get-block h6 span {
	width: auto;
}
.content__get-block h6 img {
	margin-right: 1.2rem;
	width: 3.4rem;
}
.content__get-switchers {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.content__get-switcher {
	background-color: rgba(22, 255, 255, 0.19);
	border: 1px solid #00919A;
	border-radius: 50%;
	box-shadow: 0px 23px 50px #FFFFFF;
	cursor: pointer;
	margin: 0 1rem;
	position: relative;
	height: 4.5rem;
	width: 4.5rem;
}
.content__get-switcher.active:before {
	content: "";
	background-color: #00919a;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	height: 2.5rem;
	width: 2.5rem;
}

/* footer styles */
.footer {
	flex-shrink: 0;
	height: 7.5rem;
	width: 100%;
}
.footer__content {
	background-color: #152b40;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 8rem;
	height: 100%;
	width: 100%;
}
.footer__content h4 {
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer__content h4 img {
	margin: 0 3.5rem;
	height: 4.4rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px), (max-height: 1079px) {
	html {
		font-size: 8px;
	}
}
@media (min-width: 1440px) and (max-width: 1599px) {
	html {
		font-size: 7px;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 6px;
	}
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 6px;
	}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 5px;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 5px;
	}
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 5px;
	}
}
